html {
  font-family: 'PT Sans';
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Serif', sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  background-color: #c9b5ab;
  font-weight: normal;
}

h1 {
  color: #3f1622;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  line-height: 1.5em;
  color: #222;
}

figure figcaption {
  text-align: center;
}

h2 {
  color: #3f1622;
}

.common {
  list-style-type: lower-greek;
}

h2, ul, li {
  list-style-type: circle;
}

a:hover {
  color: none;
}
