html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: PT+Serif;
  font-style: bold;
  background-color: #c9b5ab;
  font-weight: normal;
}

h1 {
  color: #3f1622;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  line-height: 1.5em;
  color: #222;
}

h2 {
  color: #3f1622;
}

.common {
  list-style-type: lower-greek;
}

h2, ul, li {
  list-style-type: circle;
}
