body {
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
}

li, a {
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
}

figcaption {
  font-style: italic;
  line-height: 1.5em;
  color: #222;
}

h2 {
  color: #3f1622;
}

ol, li {
  list-style-type: lower-greek;
}
